
.navbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd3e6; 
    padding: 10px 20px;
    animation: slideInDown ease-out; 
}

.navbutton .brand {
    color: #5d4c39; 
    background-color: #ffd3e6; 
    font-size: 24px; 
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.navbutton .nav-links {
    display: flex;
}

.navbutton .nav-links a {
    color: #5d4c39; 
    font-size: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.navbutton .nav-links a i {
    margin-right: 8px; 
}

.navbutton .nav-links a:hover {
    text-decoration: underline;
    color: #8c6239; 
}

/* Text Alignment */
body, h1, p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #5d4c39; 
}

img {
    display: block;
    margin: 0 auto;
    border: 5px solid #ffd3e6; 
    padding: 5px; 
    border-radius: 8px; 
}

.plant-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.plants {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plants img {
    width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 8px; 
    border: 5px solid #ffd3e6; 
    padding: 5px; 
}

.plants h2 {
    margin: 10px 0 5px;
    color: #5d4c39; 
}

.plants p {
    margin: 0;
    font-weight: bold;
    color: #888; 
}

.bouquet-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.bouquet {
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.bouquet img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #ffd3e6; 
    color: #5d4c39; 
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #5d4c39; 
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
    margin-right: 20px; 
}

.footer-links a:hover {
    text-decoration: underline;
    color: #8c6239; 
}

